@page "/Inicio"
@using BlazorAppConsumoAPI.Models;
@inject IJSRuntime JSRuntime

<style>

    body {
        font-family: Arial, sans-serif;
        font-size: 25px;
        line-height: 1.5;
        background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRV4ri5YbK9_7_RvvEhJoUrhQncRiIG9t8XNg&usqp=CAU);
    }

    .navbar {
        background-color: midnightblue; 
        color: #fff; 
        padding: 1rem 1.5rem; 
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 5px; 
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15); 
    }


        .navbar a {
            color: inherit; 
            text-decoration: none;
            margin: 0 1rem;
            transition: color 0.3s ease-in-out;
        }

            .navbar a:hover {
                color: #cceeff;
            }

    .dashboard-content {
        margin-top: 2rem;
        padding: 2rem;
        background-color: #f8f9fa;
        border-radius: 10px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    .footer {
        background-color: #343a40; 
        color: #fff; 
        padding: 1rem; 
        text-align: center; 
        position: fixed; 
        bottom: 0;
        left: 0;
        width: 100%;
        border-top: 1px solid rgba(255, 255, 255, 0.1); 
    }
</style>
<nav class="navbar">
    <div>
        <a href="/Inicio">Inicio</a>
        <a href="/Movimiento Planillas">Movimiento Planillas</a>
        <a href="/Empleados">Empleados</a>
        <a href="/Rol de Pagos">Rol de Pagos</a>
        <a href="/Index">Centro de Costos</a>
    </div>
</nav>
<h1 style="text-align: center;">Inicio</h1>

<div class="dashboard-content">
    <div><strong>Nombre Emisor:</strong> @nombreEmisor</div>
    <strong>Codigo Emisor:</strong> @Emisor<br />
    <br />
    <strong>Usuario:</strong> @nombreUsuario<br />
    <strong>Perfil:</strong> @perfilUsuario<br />
    <strong>Ruc:</strong> @RUC<br />
</div>



@code {
    private string nombreEmisor;
    private string nombreUsuario;
    private string perfilUsuario;
    private string RUC;
    private string Emisor;

    protected override async Task OnInitializedAsync()
    {
        await LoadUserData();
    }

    private async Task LoadUserData()
    {
        var userData = await JSRuntime.InvokeAsync<InfoUsuario>("getUserData");
        if (userData != null)
        {
            nombreEmisor = userData.NombreEmisor;
            perfilUsuario = userData.Perfil;
            RUC = userData.RucUsuario;
            nombreUsuario = userData.NombreUsuario;
            Emisor = userData.Emisor;
        }
    }
}

